

.movie-details {
    display: flex;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.poster img {
    max-width: 100%;
    border-radius: 10px 0 0 10px;
}

.details {
    flex: 1;
    padding: 20px;
}

.title {
    font-size: 28px;
    margin-bottom: 5px;
    color: #FFFFFF;

}

.original-title {
    font-size: 18px;
    color: #FFFFFF;
}

.release-date {
    margin-bottom: 10px;
    color: #777;
}

.overview {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #FFFFFF;
}

.rating-section {
    text-align: center;
}

.rating {
    font-size: 24px;
    font-weight: bold;
    color: #ff9800;
    margin-bottom: 5px;
}

.popularity {
    color: #FFFFFF;
    margin-bottom: 10px;
}

.actorBox {
    color: #FFFFFF;

}

.actors {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

.trailer-container {
    margin-top: 20px;
}

.trailer-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

iframe {
    margin-top: 70px;
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
}
